<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionstring" providerName="System.Data.sqlclient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\FoobarDB.mdf;Integrated Security=True;Connect Timeout=30" />
	</connectionStrings>
	<appSettings>
		<add key="logfilepath" value="d:\log.txt"/>
	</appSettings>
</configuration>